.splashscreen-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  .logo-wrapper {
    height: 30vh;
    width: 30vw;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -15vw;
    margin-top: -15vh;
    animation: image 2s ease-in-out 5s 1 normal forwards;
    background: url('../assets/logo.svg');
    background-repeat: no-repeat;
    box-sizing: border-box;
    background-size: 100% 100%; 
  }
    .logo-letters-group {
      height: 10vh;
      letter-spacing: 3px;
      font-size: 1.5vw;
      font-weight: 700;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: 15vh;
      margin-left: -50vw;
      width: 100vw;
      .logo-letter {
        animation-iteration-count: 1, 1;
        animation-name            : fromBlackToGreen, disappear;
        animation-duration        : 0.3s, 0.3s;
        animation-direction       : normal, normal;
        animation-fill-mode: forwards, forwards;
        img {
          height: 3vh;
        }
      }
      @for $n from (26)*-1 through -1 {
      span:nth-child(#{abs($n)}) { animation-delay: $n * 0.1s + 2s, abs($n) * 0.1s + 2s}
      }
    }
      @-webkit-keyframes fromBlackToGreen {
        0%   {
          color: #00b894;
        }
        100% {
         // opacity: 0;
          color: #00b894;
        }
    }
      @keyframes fromBlackToGreen {
        0%   {
          color: #333;
        }
        100% {
          color: #00b894;
        }
      }

      @keyframes disappear {
        0%   {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }
  
      @keyframes image {
        0% {
          left: 50%;
          top: 50%;
          margin-left: -15vw;
          margin-top: -15vh;
          height: 30vh;
          width: 30vw;
        }
        25% {
         left: 50%;
         top: 50%;
         height: 120vh;
         width: 120vw;    
         margin-left: -60vw;
         margin-top: -60vh;    
        }
        100% {
          left: 0%;
          top:  50%;
          height: 180vh;
          width: 120vw;
          margin-left: -59vw;
          margin-top: -60vh;
        }
      }
}

@media only screen and (max-width: 600px) {
  @keyframes image {
    0% {
      left: 50%;
      top: 50%;
      margin-left: -15vw;
      margin-top: -15vh;
      height: 30vh;
      width: 30vw;
    }
    100% {
      height: 180vh;
      width: 273vw;
      margin-left: -137.5vw;
      margin-top: -90vh;
      left: 50%;
      top: 50%;
    }
  }
}

@media screen and (min-width:600px) and (max-width:760px){
  @keyframes image {
    0% {
      left: 50%;
      top: 50%;
      margin-left: -15vw;
      margin-top: -15vh;
      height: 30vh;
      width: 30vw;
    }
    100% {
      left: 50%;
      top: 50%;
      height: 120vh;
      width: 289vw;
      margin-left: -144.5vw;
      margin-top: -60vh;
    }
  }
}
@media screen and (min-width:760px) and (max-width:938px){
  @keyframes image {
    0% {
      left: 50%;
      top: 50%;
      margin-left: -15vw;
      margin-top: -15vh;
      height: 30vh;
      width: 30vw;
    }
    100% {
      left: 50%;
      top: 50%;
      height: 100vh;
      width: 304vw;
      margin-left: -152.5vw;
      margin-top: -50vh;
    }
  }
}

@media screen and (min-width:939px) and (max-width:970px){
  @keyframes image {
    0% {
      left: 50%;
      top: 50%;
      margin-left: -15vw;
      margin-top: -15vh;
      height: 30vh;
      width: 30vw;
    }
    100% {
      left: 0%;
      top: 20%;
      height: 180vh;
      width: 151vw;
      margin-left: -53vw;
      margin-top: -60vh;
    }
  }
}

@media screen and (min-width:971px) and (max-width:1036px){
  @keyframes image {
    0% {
      left: 50%;
      top: 50%;
      margin-left: -15vw;
      margin-top: -15vh;
      height: 30vh;
      width: 30vw;
    }
    100% {
      left: -12%;
      top: 20%;
      height: 180vh;
      width: 151vw;
      margin-left: -53vw;
      margin-top: -60vh;
    }
  }
}

@media screen and (min-width:1037px) and (max-width:1380px){
  @keyframes image {
    0% {
      left: 50%;
      top: 50%;
      margin-left: -15vw;
      margin-top: -15vh;
      height: 30vh;
      width: 30vw;
    }
    100% {
      left: 0%;
      top: 32%;
      height: 180vh;
      width: 140vw;
      margin-left: -59vw;
      margin-top: -60vh;
    }
  }
}